doctype html
html
  head
  body
    div
      h3 SMART HEALTH CARE: BLOOD BANK: 
      p
        | From: 
        b #{user.name}
        br
      p
        | email: 
        b #{user.email}
      p
      br
      p
        | Dear 
        b
          | #{user.receiver}
          b
      br
      br
      p #{user.message}
      br
      br
      p(style='padding-left: 150px;') Thank you
