<div>
	<nav class="navbar navbar-inverse">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="/#/">Smart Health Care</a>
    		</div>
    	<ul class="nav navbar-nav">
      		<li><a href="/#/">HOME</a></li>
      		<li class="active" ><a href="/#/about">ABOUT</a></li>
      		<li><a href="/#/contact">CONTACT</a></li>      
    	</ul>
  		</div>
	</nav>

	<div class="container-fluid">
    <h1 style="color:#008080;" align="center">Smart HealthCare</h1>
     <div>
        <h3 style="color:#000000;" align="center">Introduction</h3>
        <h3 style="color:#008080;" align="center">Smart HealthCare System is an online solution to the common diseases that occurs day by day and provides preventive measures to them.</h3>
        <h3 style="color:#008080;" align="center">Smart Healthcare system is designed to improve the health and wellness of our families.</h3>
        <h3 style="color:#008080;" align="center">Apart from this,you can ask your queries from our qualified medical Doctors and proper instructions to keep oneself disease free.</h3>
        <h3 style="color:#008080;" align="center">The Portal provides a platform  that provides  effective quality HealthCare Services with less IT set-up costs and  reduced  risk.</h3>
        <h3 style="color:#008080;" align="center">It consists of two modules: </h3>
      <ul>
        <li style="color:#008080;"align="center"><b>Blood Bank Portal</b></li>
        <center><img src="images/bloodabout.jpeg" alt="HTML5 Icon"  style="width:128px;height:128px;"> </center>
        <li style="color:#008080;"align="center"><b>Doctors Consultation Forum</b></li>
        <center><img src="images/doctorabout.jpeg" alt="HTML5 Icon"  style="width:128px;height:128px;"> </center>
      </ul> 
        
     </div>
  <div>
        
  
  


     </div>
</div>

</div>