<div>
	<nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/#/bloodbank/home">Blood Bank</a>
        </div>
      <ul class="nav navbar-nav">
          <li><a href="/#/bloodbank/home">HOME</a></li>
          <li  class="active"><a href="/#/bloodbank/about">ABOUT</a></li>
          <li><a href="/#/bloodbank/searchdonors">SEARCH DONORS</a></li>
          <li><a href="/#/bloodbank/registerdonor">REGISTER AS DONOR</a></li>
          <li><a href="/#/bloodbank/requestblood">REQUEST BLOOD</a></li>
          <li><a href="/#/bloodbank/bloodtips">BLOOD TIPS</a></li>
          <li><a href="/#/bloodbank/contact">CONTACT US</a></li>
          <li><a href="/#/">BACK TO MAIN</a></li>     
      </ul>
      </div>
  </nav>
	
	<div>
		<div class="panel">
    <div class="panel panel-heading" style="background-color: #e31933; ">
    <h2 class="panel-title" style="color: #ffffff;text-align: center;"><B>ABOUT</B></h2>
    </div>
    

		<div class="panel-body" align="center">
      <B style="font-size: 16px;">
			<p>Universally, 'Blood' is recognized as the most precious element that sustains life.</p>
      <p>It saves innumerable lives across the world in a variety of conditions.</p> 
      <p>Once in every 2- seconds, someone, somewhere is desperately in need of blood.</p> 
      <p>More than 29 million units of blood components are transfused every year.</p> 
      <p>The need for blood is great - on any given day, approximately 39,000 units of Red Blood Cells are needed.</p> 
      <p>Each year, we could meet only up to 1% (approx) of our nation’s demand for blood transfusion.</p>

			<p>Despite the increase in the number of donors, blood remains in short supply during emergencies,</p> 
      mainly attributed to the lack of information and accessibility. </p>
      <p>We positively believe this tool can overcome most of these challenges by effectively connecting the blood donors with the blood recipients.</p>
      </B>
		</div>
	</div>
  </div>
</div>