<div>
	<nav class="navbar navbar-inverse">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="#">Smart Health Care</a>
    		</div>
    	<ul class="nav navbar-nav">
      		<li><a href="/#/">HOME</a></li>
      		<li><a href="/#/about">ABOUT</a></li>
      		<li class="active"><a href="/#/contact">CONTACT</a></li>
          <li><a href="/#/mentor">MENTOR</a></li>      
    	</ul>
  		</div>
	</nav>

	<div class="container-fluid">
    <h1 style="background-color: #008080; color: #ffffff;text-align: center;" align="center">Contact Details</h1>
     <div>
        <br/>
        <div class="panel panel-body">
        <h3 style="color:#000000;"align="center"><span class="glyphicon glyphicon-user"></span> Ajay khairwar</h3>
        <p align="center"><span class="glyphicon glyphicon-envelope"></span> ajay.1310012@kiet.edu</p>
        <p align="center"><span class="glyphicon glyphicon-phone"></span> 09012774176</p>
        </div>
        <div class="panel panel-body">
        <h3 style="color:#000000;"align="center"><span class="glyphicon glyphicon-user"></span> Govind Sharma</h3>
        <p align="center"><span class="glyphicon glyphicon-envelope"></span> govind.1310062@kiet.edu</p>
        <p align="center"><span class="glyphicon glyphicon-phone"></span> 08800226597</p>
        </div>
        <div class="panel panel-body">
        <h3 style="color:#000000;"align="center"><span class="glyphicon glyphicon-user"></span> Prince Singh</h3>
        <p align="center"><span class="glyphicon glyphicon-envelope"></span> prince.1310103@kiet.edu</p>
        <p align="center"><span class="glyphicon glyphicon-phone"></span> 09453990122</p> 
        </div>       
     </div>
  <div>
    
  
</div>