<div style="top: 0;width: 100%;">
	<div class="panel panel-primary fixed" style="background-color: #3E4551; width: 100%;">
		<div class="panel panel-heading">
		<h3 class="panel-title" style="text-align: center;"><span class="glyphicon glyphicon-plus"></span> HOSPITAL DIRECTORY SERVICE</h3>
		</div>
		<div class="" style="text-align: center;">			
			<label style="padding: 5px;" class="panel panel-body">Hospital Name: <input type="text"  class="bg-info" ng-model="searchName"></label>
			<label style="padding: 5px;" class="panel panel-body">District: <input type="text" class="bg-info" ng-model="searchDistrict"></label>
			<span>
			<button type="button" class="btn btn-primary" ng-click="search()">Search</button>
			<button type="button" class="btn btn-default" ng-click="resetAll()">Reset</button>
			<a type="button" class="btn btn-default" href="/#/directory/home">Back to Main</a>
			</div>
		</div>
	</div>
	<div>
	<table class="table table-bordered table-hover">
		<thead>
			<tr class="bg-primary">
				<th>Hospital Name</th>
				<th>Contact</th>
				<th>District</th>
				<th>State</th>
			</tr>
		</thead>
		<tbody style="background: rgba(255,255,255,0.5);">
			<div>
				<tr ng-repeat="hospital in hospitals | filter:{Facility_Name:searchN} | filter:{District:searchD} | orderBy:'Facility_Name' ">
					<td>{{hospital.Facility_Name}}</td>
					<td>{{hospital.Contact}}</td>
					<td>{{hospital.District}}</td>
					<td>{{hospital.State}}</td>
				</tr>				
			</div>			
		</tbody>		
	</table>
	<h4 class="panel panel-body" style="text-align: center; background: rgba(255,255,255,0.5);" ng-show="(hospitals | filter:{Facility_Name:searchN} | filter:{District:searchD}).length == 0">No Results!</h4>		
	</div>
</div>