<div>
	<nav class="navbar navbar-inverse">
  		<div class="container-fluid">
    		<div class="navbar-header">
      			<a class="navbar-brand" href="#">Smart Health Care</a>
    		</div>
    	<ul class="nav navbar-nav">
      		<li><a href="/#/">HOME</a></li>
      		<li><a href="/#/about">ABOUT</a></li>
      		<li><a href="/#/contact">CONTACT</a></li>
          <li class="active"><a href="/#/mentor">MENTOR</a></li>      
    	</ul>
  		</div>
	</nav>

	<div class="container-fluid">
    <h1 style="background-color: #008080; color: #ffffff;text-align: center;" align="center">Mentor Details</h1>
     <div>
        <br/>
        <div class="panel panel-body">
        <h3 style="color:#000000;"align="center"><span class="glyphicon glyphicon-user"></span> Ashish Bajpai</h3>
        <p align="center"><span class="glyphicon glyphicon-phone"></span>Assistant Professor</p>
        <p align="center"><span class="glyphicon glyphicon-envelope"></span> ashish.bajpai@kiet.edu</p>        
        </div>
        <div class="panel panel-body">
          <h3 style="color:#000000;"align="center"><span class="glyphicon glyphicon-pencil"></span> Bio</h3>
          <p align="center" style="font-size: 14px;">
            Ashish Bajpai is working as a Assistant professor and having 10 years of academic experience.</p> 
          <p align="center" style="font-size: 14px;">He is B.tech, M.tech. His passion is to Interact and motivate students for programming and good quality project work.</p> 
          <p align="center" style="font-size: 14px;">His area of interests are Java programming and Web Technology.</p>          
        </div>
               
     </div>   
  
</div>